.vscode/**
.vscode-test/**
c-sharp_file_for_testing/**
src/**
tests/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
node_modules/**/test/**
node_modules/**/.bin/**
node_modules/**/.*
node_modules/**/LICENSE*
node_modules/**/README*
node_modules/**/CHANGELOG*
node_modules/**/package-lock.json
!out/**
ASSISTANCE.md